<%- include('header');-%>
 <center> <h1>Sửa tiêu đề trang chủ</h1> </center>
<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Tiêu đề</label>
    <input type="text" class="form-control" id="ten" name="tieude" aria-describedby="emailHelp" placeholder="Enter" value="Chào mừng">
  </div>
  <div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
  </div>
</form>
<%- include('footer');-%>