<%- include('header'); -%>
   <% if(!id) { %>
  <center> <h1>Thông tin hội nghị</h1> </center>
  <h4> <strong> Thư mời viết bài Hội thảo khoa học quốc tế ICSEED 2020 </strong> </h4>
  <p>Nhằm tăng cường trao đổi về giảng dạy, nghiên cứu và tư vấn hoạch định chính sách phát triển, Trường Đại học Khoa học tự nhiên phối hợp với Đại học Khon Kaen (Thái Lan) tổ chức Hội thảo khoa học quốc tế lần thứ 12 với chủ đề: "Các vấn đề kinh tế - xã hội và môi trường trong phát triển" - ICSEED 2020. Hội thảo là hoạt động bán thường niên, được luân phiên tổ chức tại Trường Đại học Khoa học tự nhiên và Trường Đại học Khon Kaen (Thái Lan) từ 2013 đến nay. </p>
  <p><strong>Thành phần tham dự: </strong> đại biểu đến từ các trường đại học, viện nghiên cứu, các cơ quan quản lý nhà nước, tổ chức quốc tế, tổ chức phi chính phủ và các cá nhân quan tâm từ Thái Lan, Việt Nam và các quốc gia khác. </p>

  <p><strong>Thời gian nhận bài và tổ chức: </strong></b> <br>

  <ul>- Thời hạn nhận bài: đến hết 15/6/2020; </ul>

  <ul>- Thời gian tổ chức:  16, 17/7/2020 (dự kiến)</ul>

  <p><strong>Địa điểm: </strong>Trường Đại học Khoa học tự nhiên(ĐHQG-TPHCM)</p>

  <p><strong>Ngôn ngữ sử dụng: </strong>Tiếng Anh.</p>
  <center><button type="button"><a class="nav-link" href="/registerhn">Đăng kí hội nghị</a></button></center>
  <% } else if(id.id == 1) {%>
       <h1>Chào mừng bạn đến với trang admin </h1>
  <% } else {%>
       <h1>Chào mừng <strong><%= id.displayname %></strong> đã đến với trang của bạn</h1>
  <% } %>

<%- include('footer'); -%>